.footer {
    background-color: #2F303A;
    padding: 60px 0;

    &__flex {
        display: flex;
    }

    &__box {
        margin-right: 70px;
        width: 230px;
    }

    &__logo {
        display: inline-block;
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        line-height: 31px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    &__logo-colored {
        color:#2196F3;
    } 
    
    &__address-list {
        margin-bottom: 9px;

        &:last-child {
            margin-bottom: 0;
        }
        
    }

    &__address {
    
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-decoration: none;  
        color: #FFFFFF;
    }

    &__contact {

        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
        transition: 0.4s;

        &:hover {
            color: #2196F3;  
        }
        
    }

    &__contact-box {
        padding-top: 12px;
        margin-right: 93px;
    }
    
    &__title {
        font-weight:700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    
    &__contact-item {
        display: inline-block;
        margin-right: 10px;    
    }
    
    &__contact-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);

        &:hover {
            background-color: #2196F3;
        }
    }

    &__contact-icon {  
        height: 20px;
        width: 20px;
        fill:#FFFFFF;

        &:hover {
            border-color: #2196F3;
        }
    }

    &__form-box {
        padding-top: 12px;
    }
    
    &__form-label {
        font-weight:700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    
    &__form {
        display: flex;      
    }
    
    
    &__form-input {
        font-size: 16px;
        letter-spacing: 0.03em;
        width: 358px;
        padding: 12px;
        box-sizing: border-box;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        margin-right: 12px;
        color: #fff;
    }
    
    &__form-btn {
        position: relative;
        font-weight: 700;
        font-size: 16px;
        text-align: left;
        letter-spacing: 0.06em;
        padding-left: 29px;
        width: 200px;
        height: 50px;
        color: #fff;
        background-color: #2196F3;
        border: none;
        border-radius: 4px;
    }
    
    &__btn-icon {
        position: absolute;
        width: 24px;
        height: 24px;
        padding-left: 10px;
        fill: #FFFFFF;
    }
    

}
